body {
  min-width: 100%;
  padding: 0;
  background-color: #f2f2f2;
  Margin: 0; }

table {
  font-family: sans-serif;
  border-spacing: 0; }

td {
  padding: 0; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #f2f2f2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.contentTb {
  background-color: #fff; }

.contentTb > tr > td:not(.fluid) {
  padding-right: 10%;
  padding-left: 10%; }

/*********************************
** ELEMENTS
*********************************/
.topic td {
  font-size: 0;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px; }

.topic--news {
  background-color: #65a33e; }

.topic div {
  line-height: 22px; }

.h1 {
  font-size: 24px;
  padding-bottom: 10px; }
  .h1 div {
    line-height: 28px;
    color: #414141; }

.h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px; }
  .h2 div {
    line-height: 21px;
    color: #414141; }

.text {
  font-size: 14px;
  padding-bottom: 10px; }
  .text div {
    line-height: 20px;
    color: #808080; }

.list {
  font-size: 14px;
  padding-bottom: 15px; }
  .list div {
    line-height: 20px;
    color: #808080; }

.link {
  text-decoration: none;
  color: #4b9bce; }

.link-alt {
  text-decoration: none;
  color: #808080; }

/*********************************
** FOOTER
*********************************/
#footerTable {
  font-size: 11px;
  color: #4b4b4b;
  font-family: Arial, Helvetica, sans-serif; }
  #footerTable a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #85c0e1; }

.banner img {
  display: block;
  padding-bottom: 20px; }

/*********************************
// ** CORE
// *********************************/
/**
 * BUTTONS
 */
.button-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle; }

.button {
  width: auto !important;
  margin: auto;
  border-collapse: collapse;
  background-color: #5e8d30; }

.button td {
  padding: 0; }

.button-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff !important;
  border: #70a839 10px solid;
  background-color: #70a839; }

.button-inner {
  background-color: #70a839;
  border-bottom: 1px solid #5e8d30; }

.button-link span {
  display: inline-block;
  color: #fff;
  border-right: #70a839 10px solid;
  border-left: #70a839 10px solid; }

.button--wide .button-link {
  border: #70a839 7px solid; }

/**
 * Login table
 */
#loginTable > tr > td:first-child {
  padding-left: 60px; }

#loginTable > tr > td:last-child {
  padding-right: 60px; }

#loginTable > tr > td {
  padding-top: 10px;
  padding-bottom: 10px; }

#loginTable:not(.top) {
  background-color: #ffffff; }

/**
 * Advance welcome banner
 */
#welcomeBanner > tr > td {
  padding-top: 10px;
  padding-bottom: 10px; }

#welcomeBanner > tr > td:first-child {
  padding-left: 60px; }

#welcomeBanner > tr > td:last-child {
  padding-right: 60px; }

.hr {
  font-size: 20px;
  line-height: 20px; }
  .hr div {
    line-height: 20px; }
  .hr td {
    line-height: 20px; }

.contentTb > tr:first-child > td {
  padding-top: 35px; }

.contentTb > tr:last-child > td:not(.img-responsive) {
  padding-bottom: 35px; }

.tb {
  font-size: 12px;
  color: #808080; }

.tb > tr:first-child > td {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 15px; }

.tb div {
  line-height: 15px; }

.tb > tr > td {
  font-size: 14px;
  width: 33%;
  padding-top: 17px;
  padding-bottom: 13px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ebebeb; }

.tb > tr > td:first-child {
  padding-right: 5px;
  padding-left: 0; }

.tb > tr > td:last-child {
  padding-left: 5px;
  padding-right: 0; }

.tb > tr > td {
  padding-left: 5px;
  padding-right: 5px; }

.tb__wrapper {
  padding-top: 0;
  padding-bottom: 25px; }
